<section class>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your Email Id" ngModel name="email" email required #email="ngModel">
      <mat-error *ngIf="email.hasError('required')">Email is a mandatory field</mat-error>
      <mat-error *ngIf="!email.hasError('required')">Please enter valid email format</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be atleast 6 chars long!">
      <input type="password" matInput placeholder="Your Password" name="password" ngModel required minlength="6" #pwInput="ngModel">
      <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
      <mat-error *ngIf="pwInput.value?.length < 6">Password must be of minimum 6 chars</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput 
        placeholder="Your birthdate" 
        required 
        [matDatepicker]="picker" 
        #birthdate="ngModel" 
        ngModel 
        name="birthdate"
        [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="birthdate.hasError('required')">Please enter your birthdate</mat-error>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" labelPosition="before" color="primary" required>Agree to terms and conditions</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>